body {
  font-family: verdana;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: olive;
  padding: 1rem;
}

nav a {
  color: cornSilk;
  padding: 0.5rem;
}

nav a.selected {
  border: solid 1px cornSilk;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}
